<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>OSBG TimeTracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        #worktime {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #worktime td, #worktime th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #worktime tr:nth-child(even){background-color: #f2f2f2;}
        #worktime tr:hover {background-color: #ddd;}

        #worktime th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/myaccount">My account</a></li>
            <li><a href="/historyadmin">History</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </div>
</div>
</nav>

<div class="container">
        <div>Select:
            <select id="select_user_dropdown">
            <option disabled selected value> -- select a user -- </option>
            </select>
            <select id="select_month_dropdown">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                </select>
                <select id="select_year_dropdown">
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                </select>

        <button onclick="queryUserHistory()">Refresh</button>
        <button onclick="downloadUserHistory()">Export</button>
        <button onclick="exportAllHistory()">Export all</button>
        </div>
    </div>

    <div>
            <table id="worktime">
                <thead>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Pauses (total, minutes)</th>
                    <th>Overtime (minutes)</th>
                    <th>Total working time (minutes)</th>
                    <th>Project</th>
                    <th>Comment</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    <script>
    var userid;

        //config dropdown menus
        let userDropdown = $('#select_user_dropdown');
        userDropdown.prop('selectedIndex', 0);

        const urlUsers = 'http://localhost:8080/users/all';
            $.getJSON(urlUsers, function (data) {
                console.log(data);
                $.each(data, function (key, user) {
                    userDropdown.append($('<option></option>').attr('value', user.id).text(user.username));
                })
            });

            $(document).on("change", "#select_user_dropdown", function() {
                    userid = ($(this).find("option:selected").val())
                    console.log(userid);
                });

            function queryUserHistory() {
              let dropdownmonth = $('#select_month_dropdown').val();
              let dropdownyear = $('#select_year_dropdown').val();
              $("#worktime > tbody").empty();
              $.ajax({
               'url': 'http://localhost:8080/historyadmin',
               'method': 'POST',
               'dataType': 'json',
               processData: false,
               'contentType': 'application/json',
               'data': JSON.stringify({
                "userid": userid,
                "month":dropdownmonth,
                "year":dropdownyear
                }),
                success: function(data) {
                console.log(data)
                for(var i in data) {
                    if(data[i].comment == null) {
                        data[i].comment = "";
                        }
                            if(data[i].pausetime == null) {
                                data[i].pausetime = 0;
                                }
                                    $('#worktime > tbody:last-child').append('<tr><td id="starttime">' + data[i].starttime + '</td>+' +
                                             '<td id="endtime">' + data[i].endtime + '</td>' +
                                             '<td id="pauses">' + data[i].pausetime + '</td>' +
                                             '<td id="overtime">' + data[i].overtime + '</td>' +
                                             '<td id="total">' + data[i].totaltime +
                                             '<td id="project">' + data[i].projectid.name + ", " + data[i].projectid.location + " / clocked-in from: " + data[i].location +
                                             '<td id="comment">' + data[i].comment +
                                             '</td></tr>');
                                              }
                                        }
                                    });
            }

            function downloadUserHistory() {
                let dropdownmonth = $('#select_month_dropdown').val();
                let dropdownyear = $('#select_year_dropdown').val();
                let url = 'http://localhost:8080/history/' + userid + "/" + dropdownmonth + "/" + dropdownyear;
                window.open(url);
            }

            function exportAllHistory() {
               let url = 'http://localhost:8080/history/exportall';
               window.open(url);
            }
</script>
</body>